/* =======================================================================================
    GLOBAL
=======================================================================================*/
:root {
    --clrDefaultText: #000000;
    --clrBrightText: white;
    --clrH2: #9F0908;
    --clrFoodVariation: #675E54;
    --clrFooter: #0A141E;

    /*font sizes*/
    --font-size-h1: 96px;
    --font-size-h2: 80px;
    --font-size-h3: 56px;
    --font-size-foodVariation: 32px;
    --font-size-regular: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: var(--font-size-regular);
    /* min-width: 320px;  => soll nicht in Hintergrundelementen gemacht werden. TODO: klasse für min und max breite erstellen */
}

.leftrightMargin {
    margin-left: 160px;
    margin-right: 160px;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: bold;
    color: var(--clrH2);
    text-align: center;
}

h3 {
    font-size: var(--font-size-h3);
    font-family: "Economica", sans-serif;
    font-weight: bold;
}

.minmaxWidth {
    /*320px-32px (Padding)*/
    min-width: 288px;
    max-width: 1440px;
}

/* =======================================================================================
    HEADER
=======================================================================================*/
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;

}

nav a {
    font-size: var(--font-size-regular);
    color: var(--clrBrightText);
    text-decoration: none;
}

nav a:hover {
    color: var(--clrH2);
}

#logoHeader {
    height: 64px;
    width: 64px;
}

#ctaPhone {
    display: flex;
    align-items: center;
    background-color: var(--clrH2);
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

#ctaPhone:hover {
    background-color: #ce1d1d;
    color: white;
}

#ctaPhone a:hover {
    color: var(--clrBrightText);
}


/* =======================================================================================
    MAIN
=======================================================================================*/

/* =========================================
    SECTION HERO
=========================================*/
#sectionHero {
    height: 100vh;
    margin-bottom: 120px;
    background-image: url(./img/1_hero/JPG/hero_bg.jpg);
    background-size: cover;
    background-position: bottom;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--clrBrightText);
}

h1,
.sectionHero span {
    color: white;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: bold;
}

.sectionHero span {
    font-size: var(--font-size-regular);
}

/* =========================================
    SECTION HOW TO ORDER
=========================================*/
#sectionHowToOrder {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 120px;
}

.cards {
    display: flex;
    justify-content: space-between;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    font-size: var(--font-size-h3);
    max-width: 260px;
    font-family: "Economica", sans-serif;
    font-weight: bold;
}

.card img {
    width: 128px;
}

/* =========================================
    SECTION OUR MENU
=========================================*/
#sectionMenuBackgroundImage {
    background-image: url(./img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 120px;
    background-size: cover;
}

#sectionMenu {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.menuCards {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.menuCard {
    display: flex;
    gap: 80px;
}

.menuCardLeft {
    justify-content: flex-start;
}

.menuCardRight {
    justify-content: flex-end;
}

.menuImage {
    width: 352px;
    height: 352px;
}

.menuDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    font-weight: bold;
}

.foodVariations {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: var(--font-size-foodVariation);
    color: var(--clrFoodVariation);
}

.foodVariation {
    display: flex;
    justify-content: space-between;
}

#sectionMenu li {
    list-style: none;
}

/* =========================================
    SECTION FIND US AT
=========================================*/
#sectionLocation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#adress {
    display: flex;
    align-items: center;
    font-size: var(--font-size-regular);
    margin-bottom: 64px;
}

iframe {
    width: 100%;
    height: 50vh;
    margin-bottom: 25px;
}

#adress>img {
    object-fit: contain;
}

/* =======================================================================================
    FOOTER
=======================================================================================*/
footer {
    background-color: var(--clrFooter);
}

#sectionFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 144px;
}

#logoFooter {
    height: 44px;
}

.social>img {
    width: 40px;
    height: 40px;
}


/* =======================================================================================
    Mobile 320px - 767px
=======================================================================================*/

@media (max-width: 768px) {

    /* ==================================================
    Global
    ==================================================*/
    body {
        font-size: 12px;
    }

    .nodisplay {
        display: none;
    }

    .leftrightMargin {
        margin-left: 16px;
        margin-right: 16px;
    }

    h1 {
        font-size: 64px;
        text-align: center;
        margin-bottom: 24px;
        margin-left: 16px;
        margin-right: 16px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 40px;
        text-align: center;
    }


    /* ==================================================
    HEADER
    ==================================================*/
    header {
        height: 58px;
        gap: 24px;
    }

    #logoHeader {
        height: 32px;
        width: 32px;
    }

    nav {
        flex: 1;
    }

    nav a {
        font-size: 12px;
        width: 100%;
    }

    #ctaPhone {
        padding: 5px;
        justify-content: center;
    }

    /* ==================================================
    MAIN
    ==================================================*/
    /* ===========================
    SECTION HERO
    ===========================*/

    #sectionHero span {
        font-size: 20px;
        margin-left: 16px;
        margin-right: 16px;
        text-align: center;
    }

    /* ===========================
        SECTION HOW TO ORDER
    ===========================*/
    .cards {
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }

    /* ===========================
        SECTION SECTION OUR MENU
    ===========================*/
    .menuCard {
        flex-direction: column;
        align-items: center;
    }

    .menuCard img {
        width: 60vw;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .foodVariations {
        font-size: 24px;
    }

    .mobileReverse {
        flex-flow: column-reverse;
    }

    /* ===========================
        SECTION FIND US AT
    ===========================*/
    #adress {
        font-size: 20px;

    }

    #adress img {
        padding: 5px;
    }
}

/* =======================================================================================
    Tablet 768px - 1023px (from 1024px LAptop and taller => Basic Styles)
=======================================================================================*/
@media (min-width: 769px) and (max-width: 1023px) {
    .nodisplay {
        display: none;
    }

    h1 {
        font-size: 80px;
        text-align: center;
        margin-bottom: 16px;
    }

    #sectionHero span {
        font-size: 32px;
    }
}